html {
  background-color: antiquewhite;
}

body {
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size: 50px;
}

img {
  height: 100%;
}

div {
  border: 2px solid burlywood;
  margin: 10px;
}

#introPic {
  float: left;
}

#bio {
  float: right;
}
#bio > li {
  padding: 2px;
}

#pro {
  width: auto;
}

#para1 {
  text-align: left
}

#para2 {
  text-align: left
}

#bio {
  text-align: center;
}

#bio {
  list-style-type: none;
}


  #proCareer>img {
    width: 100%;
}

#acting>img {
  width: 70%;
}

#earlyCareer>img {
  width: 70%;
}

@media only screen and (max-width: 375px) {
  h1 {
    color: red;
  }
}
