body {

  background-color: rgb(241, 208, 221);
  border: 5px solid rgb(240, 161, 215);
}
div {
  padding: 10px;
}
div {
  margin: 30px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

#para1 {
  color: rgb(255, 255, 255);
}

h1.center {
  text-align: center;
  color: rgb(255, 255, 255);


